:root {
    --accent: #aadee8;
    --ac_dark: #4798a3;
    --ac_black: #06272b;
    --ac_light: #d3edf1;
    --ac_white: #fff;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed red; */
    font-family: "Montserrat", sans-serif;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
  
  .resetPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .reset-password-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid var(--ac_black);
    border-radius: 7px;
    height: 20rem;
    width: 20rem;
    background-color: var(--ac_light);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .reset-password-container:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); 
  }
  .typography{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .typography-text{
    font-weight: 600;
    font-size: 25px;
    color: var(--ac_dark);
  }
  .resetPassword-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
  }
  .resetPassword-form input{
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    border-radius: 5px;
    padding: 5px 5px;
    width: 100%;
    font-weight: 500;
    margin: 5px 0px;
  }
  .resetPassword-form button{
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    padding: 5px 5px;
    font-weight: 600;
    background-color: var(--ac_black);
    color: var(--ac_light);
    border-radius: 7px;
    margin: 5px 0px;
  }
  .resetPassword-form button:hover{
    background-color: var(--ac_light);
    color: var(--ac_black);
  }
  .reset-password-button{
    display: flex;
    justify-content: center;
  }
  .login-resend-link{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
  }
  .login-resend-link a{
    text-decoration: none;
    opacity: 0.5;
    color: var(--ac_black);
    cursor: pointer;
    font-weight: 500;
    margin: 5px 0px;
    height: 2rem;
  }
  .login-resend-link a:hover{
    opacity: 1;
  }