:root {
  --accent: #aadee8;
  --ac_dark: #4798a3;
  --ac_black: #06272b;
  --ac_light: #d3edf1;
  --ac_white: #fff;
}

/* font-text = --ac_black
    header-background = --accent

  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed red; */
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

.home-container {
  display: grid;
  grid-template-columns: 4rem 3fr 1fr 4rem;
  height: 100vh;
}
.home-post-area {
  overflow-y: auto;
  background-color: var(--accent);
  grid-column: 2/3;
  box-sizing: border-box;
  padding: 2vmax;
}
.home-friends-area {
  grid-column: 3/4;
  display: flex;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 10px;
}
.user-profile-area {
  display: flex;

  padding: 2px 5px;
  margin: 3px 5px;
  border: 1px solid var(--ac_black);
  background-color: var(--ac_light);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
